.page {
    background: url("bg-login.jpg") no-repeat;
    background-size: 100%;
}

.form {
    width: 500px;
    height: 300px;
    margin: 0 auto;
    padding: 20px 50px 50px 50px;
    box-shadow: 0 0 2px 0 #dadada;
    background-color: #2b4060;
}

button {
    display: inline-block;
    width: 310px;
    height: 60px;
    margin: 200px 0 0 90px;
    padding: 0 20px;
    box-shadow: 0 0 3px #d9d9d9,inset 0 1px 0 hsla(0,0%,100%,.21);
    background-color: #44dacc;
    background-image: linear-gradient(20deg,#ff4800 0,#ffa54d 100%);
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 60px;
    text-decoration: none;
}




