.modal {
    display: block;
    height: 180px;
    width: 470px;
    background-color: #ede6e6;
    margin-top: 200px;
    margin-left: 450px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    visibility: hidden;
}

.modal-content {
    height: 60px;
}

.modal-title {
    float: left;
    margin: 10px 0 0 15px;
    font-size: 20px;
}

.close {
    float: right;
    margin: 10px 5px 0 0;
    background-color: transparent;
}

.modal-body {
    height: 60px;
    padding: 10px 0 0 15px;
}

.modal-footer {
    height: 60px;
}

.primary {
    margin: 5px 0 0 280px;
    background-color: grey;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 110px;
}

.secondary {
    background-color: blue;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 60px;
}

.demonstration {
    background-color: purple;
    color: #ffffff;
    border-radius: 4px;
    border: none;
    height: 30px;
    width: 240px;
}

.newDiv {
    height: 60px;
    padding: 10px 0 0 15px;
    text-align: center;
}